config/node_red_flows.json
[
  {
    "id": "onkyo_cinema_mode",
    "type": "tab",
    "label": "ONKYO TX-RZ50 - Mode Cinéma",
    "disabled": false,
    "info": "Automatisation du TX-RZ50 pour le mode cinéma : allume le récepteur, sélectionne la source TV, active Dolby Atmos, et coordonne avec les lumières et volets."
  },
  {
    "id": "onkyo_morning_radio",
    "type": "tab",
    "label": "ONKYO TX-RZ50 - Radio Matinale",
    "disabled": false,
    "info": "Allume le TX-RZ50 à une heure programmée, sélectionne la radio (TUNER/NET), volume progressif."
  },
  {
    "id": "onkyo_auto_off",
    "type": "tab",
    "label": "ONKYO TX-RZ50 - Extinction Auto",
    "disabled": false,
    "info": "Éteint le TX-RZ50 après 2h d'inactivité ou lorsque la source TV s'éteint."
  },
  {
    "id": "onkyo_multizone",
    "type": "tab",
    "label": "ONKYO TX-RZ50 - Multizone",
    "disabled": false,
    "info": "Gestion indépendante de ZONE 1, ZONE 2 et ZONE 3."
  },
  {
    "id": "cinema_trigger",
    "type": "server-state-changed",
    "z": "onkyo_cinema_mode",
    "name": "Mode Cinéma activé",
    "server": "",
    "version": 3,
    "outputs": 2,
    "entityId": "input_select.scene_mode",
    "entityIdFilterType": "exact",
    "property": "state",
    "propertyType": "msg",
    "propertyValue": "",
    "haltIf": "cinema",
    "haltIfType": "str",
    "haltIfCompare": "is",
    "mustacheAlt": false,
    "outputInitially": false,
    "stateType": "str",
    "ifState": "cinema",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "x": 150,
    "y": 80,
    "wires": [["cinema_delay", "cinema_notify"]],
    "inputLabels": ["state"]
  },
  {
    "id": "cinema_delay",
    "type": "delay",
    "z": "onkyo_cinema_mode",
    "name": "Délai 1s",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 330,
    "y": 80,
    "wires": [["onkyo_power_on"]]
  },
  {
    "id": "onkyo_power_on",
    "type": "mqtt out",
    "z": "onkyo_cinema_mode",
    "name": "ONKYO Power ON",
    "topic": "onkyo/tx-rz50/power/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "onkyo_source_tv",
    "type": "mqtt out",
    "z": "onkyo_cinema_mode",
    "name": "ONKYO Source TV",
    "topic": "onkyo/tx-rz50/source/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 520,
    "y": 140,
    "wires": []
  },
  {
    "id": "onkyo_mode_atmos",
    "type": "mqtt out",
    "z": "onkyo_cinema_mode",
    "name": "ONKYO Dolby Atmos",
    "topic": "onkyo/tx-rz50/listening_mode/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 530,
    "y": 200,
    "wires": []
  },
  {
    "id": "onkyo_volume_cinema",
    "type": "mqtt out",
    "z": "onkyo_cinema_mode",
    "name": "ONKYO Volume 45",
    "topic": "onkyo/tx-rz50/volume/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 520,
    "y": 260,
    "wires": []
  },
  {
    "id": "lights_dim",
    "type": "api-call-service",
    "z": "onkyo_cinema_mode",
    "name": "Baisser lumières",
    "server": "",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["light.salon"],
    "data": "{\"brightness_pct\": 15}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAlt": false,
    "outputLocation": "",
    "outputLocationType": "none",
    "x": 530,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "blinds_close",
    "type": "api-call-service",
    "z": "onkyo_cinema_mode",
    "name": "Fermer volets",
    "server": "",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "close_cover",
    "areaId": [],
    "deviceId": [],
    "entityId": ["cover.salon"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAlt": false,
    "outputLocation": "",
    "outputLocationType": "none",
    "x": 530,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "cinema_sequence",
    "type": "function",
    "z": "onkyo_cinema_mode",
    "name": "Séquence cinéma",
    "func": "// Envoie les commandes dans l'ordre avec des délais\nconst commands = [\n  { topic: \"onkyo/tx-rz50/power/set\", payload: \"ON\", delay: 3000 },\n  { topic: \"onkyo/tx-rz50/source/set\", payload: \"TV\", delay: 2000 },\n  { topic: \"onkyo/tx-rz50/listening_mode/set\", payload: \"DOLBY_ATMOS\", delay: 1000 },\n  { topic: \"onkyo/tx-rz50/volume/set\", payload: \"45\", delay: 500 },\n];\n\ncommands.forEach(cmd => {\n  setTimeout(() => {\n    node.send({ topic: cmd.topic, payload: cmd.payload });\n  }, cmd.delay);\n});\n\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 140,
    "wires": [["onkyo_power_on", "onkyo_source_tv", "onkyo_mode_atmos", "onkyo_volume_cinema"]]
  },
  {
    "id": "cinema_notify",
    "type": "api-call-service",
    "z": "onkyo_cinema_mode",
    "name": "Notification cinéma",
    "server": "",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\": \"🎬 Mode Cinéma activé - ONKYO TX-RZ50 prêt\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAlt": false,
    "outputLocation": "",
    "outputLocationType": "none",
    "x": 350,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "morning_time",
    "type": "inject",
    "z": "onkyo_morning_radio",
    "name": "7h00",
    "props": [],
    "repeat": "",
    "crontab": "00 07 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 80,
    "wires": [["onkyo_morning_power"]]
  },
  {
    "id": "onkyo_morning_power",
    "type": "mqtt out",
    "z": "onkyo_morning_radio",
    "name": "ONKYO Power ON",
    "topic": "onkyo/tx-rz50/power/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 340,
    "y": 80,
    "wires": []
  },
  {
    "id": "onkyo_morning_source",
    "type": "mqtt out",
    "z": "onkyo_morning_radio",
    "name": "ONKYO Source TUNER",
    "topic": "onkyo/tx-rz50/source/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 540,
    "y": 140,
    "wires": []
  },
  {
    "id": "onkyo_morning_volume",
    "type": "mqtt out",
    "z": "onkyo_morning_radio",
    "name": "ONKYO Volume 25",
    "topic": "onkyo/tx-rz50/volume/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 540,
    "y": 200,
    "wires": []
  },
  {
    "id": "morning_delay",
    "type": "delay",
    "z": "onkyo_morning_radio",
    "name": "Délai 3s",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 330,
    "y": 140,
    "wires": [["onkyo_morning_source"]]
  },
  {
    "id": "tv_off_trigger",
    "type": "server-state-changed",
    "z": "onkyo_auto_off",
    "name": "TV éteinte",
    "server": "",
    "version": 3,
    "outputs": 2,
    "entityId": "media_player.shield_tv",
    "entityIdFilterType": "exact",
    "property": "state",
    "propertyType": "msg",
    "propertyValue": "",
    "haltIf": "off",
    "haltIfType": "str",
    "haltIfCompare": "is",
    "mustacheAlt": false,
    "outputInitially": false,
    "stateType": "str",
    "ifState": "off",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "x": 140,
    "y": 80,
    "wires": [["onkyo_auto_off_delay"]],
    "inputLabels": ["state"]
  },
  {
    "id": "onkyo_auto_off_delay",
    "type": "delay",
    "z": "onkyo_auto_off",
    "name": "Attendre 5 min",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 340,
    "y": 80,
    "wires": [["onkyo_power_off"]]
  },
  {
    "id": "onkyo_power_off",
    "type": "mqtt out",
    "z": "onkyo_auto_off",
    "name": "ONKYO Power OFF",
    "topic": "onkyo/tx-rz50/power/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 530,
    "y": 80,
    "wires": []
  },
  {
    "id": "zone2_morning",
    "type": "inject",
    "z": "onkyo_multizone",
    "name": "ZONE 2 - 8h00",
    "props": [],
    "repeat": "",
    "crontab": "00 08 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 80,
    "wires": [["z2_power_on"]]
  },
  {
    "id": "z2_power_on",
    "type": "mqtt out",
    "z": "onkyo_multizone",
    "name": "ZONE 2 Power ON",
    "topic": "onkyo/tx-rz50/zone2/power/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 350,
    "y": 80,
    "wires": []
  },
  {
    "id": "z2_source_bt",
    "type": "mqtt out",
    "z": "onkyo_multizone",
    "name": "ZONE 2 Source BT",
    "topic": "onkyo/tx-rz50/zone2/source/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 540,
    "y": 140,
    "wires": []
  },
  {
    "id": "z2_volume",
    "type": "mqtt out",
    "z": "onkyo_multizone",
    "name": "ZONE 2 Volume 30",
    "topic": "onkyo/tx-rz50/zone2/volume/set",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 540,
    "y": 200,
    "wires": []
  }
]
